In [1]:
import numpy as np
import pandas as pd

import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
data = pd.read_csv('APPL.csv',parse_dates=True, index_col=0)
data.head()

                Open      High       Low     Close       Volume
Date
2001-01-02  0.956144  0.979919  0.935581  0.956144  113078000.0
2001-01-03  0.931726  1.072449  0.927871  1.051887  204268400.0
2001-01-04  1.165621  1.188754  1.080160  1.096224  184849000.0
2001-01-05  1.088513  1.116144  1.031967  1.051887  103089000.0
2001-01-08  1.088513  1.091083  1.024256  1.064095   93424800.0

In [3]:
data['Close'].plot()

## Predicting close for 100 day in future
### New Features
1. LDHIGH - Last day(100th) High
2. LDLOW - Last day(100th) Low
3. LDClose - Last day(100th) Close
4. LDOpen - Last day(100th) open

In [4]:
data['LDHigh'] = data.High.shift(1)
data['LDLow'] = data.Low.shift(1)
data['LDClose'] = data.Close.shift(1)
data['LDOpen'] = data.Open.shift(1)
data.head()

,Open,High,Low,Close,Volume,LDHigh,LDLow,LDClose,LDOpen
Date,,,,,,,,,
2001-01-02,0.956144,0.979919,0.935581,0.956144,113078000.0,NaN,NaN,NaN,NaN
2001-01-03,0.931726,1.072449,0.927871,1.051887,204268400.0,NaN,NaN,NaN,NaN
2001-01-04,1.165621,1.188754,1.080160,1.096224,184849000.0,NaN,NaN,NaN,NaN
2001-01-05,1.088513,1.116144,1.031967,1.051887,103089000.0,NaN,NaN,NaN,NaN
2001-01-08,1.088513,1.091083,1.024256,1.064095,93424800.0,NaN,NaN,NaN,NaN

In [5]:
from sklearn.model_selection import train_test_split
data.dropna(inplace=True)
X = data[['LDHigh','LDLow','LDClose','LDOpen']]
Y = data.Close
X_train,X_val,Y_train,Y_val = train_test_split(X,Y,test_size=0.3,shuffle=False)

In [6]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:
original = go.Scatter(
    x = X_val.index,
    y = Y_val
)

predicted = go.Scatter(
    x = X_val.index,
    y = lr.predict(X_val)
)

data = [original,predicted]
py.iplot(data, filename='our predictions')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~adityajn105/0 or inside your plot.ly account where it is named 'our predictions'

In [8]:
from sklearn.metrics import mean_absolute_error,r2_score
print("Mean Absolute Error :{}".format(mean_absolute_error(lr.predict(X_val),Y_val)))
print("R Square : {}".format(r2_score(Y_val,lr.predict(X_val))))

Mean Absolute Error :12.395376891566698
R Square : 0.8038511788951702